body {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}

main {
 flex: 1 0 auto;
}
.grad {
 background-image: linear-gradient(to right,#43416d  ,  #9f57a8,#fb7751);
}
.roxo {
background-image: linear-gradient(to right,#43416d  , #9f57a8);}